body {
  /* background: rgb(236,204,242); */
background: linear-gradient(90deg, rgba(236,204,242,1) 0%, rgba(149,47,153,1) 100%, rgba(170,17,200,1) 100%);
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: rgb(235, 229, 229);
  border-width: 5px;
  width: 5%;
}

h1{
  color: blueviolet;
}


h3{
  color: blueviolet;
}